# Files and directories created by pub
.dart_tool/
.packages

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/

#Other things to ignore
env/
.DS_Store
.vscode/
/assets/css/
/server/secret.txt
__pycache__/

