# Conventional directory for build outputs
build/

#Other things to ignore
.DS_Store
.vscode/
web/assets/css/
web/assets/js/
web/node_modules/
server/secret.txt
__pycache__/
*.secret
package-lock.json

SSLFiles/*.pem
