<!DOCTYPE html>
<html>
  <head>
    <title>Cameron Churchwell's Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static', filename='css/base_styles.css')}}" rel="stylesheet">
  </head>
  <body>

    <nav>
        {% set sections = [
            ("Home", "/"),
            ("Blog", "/blog/"),
            ("Bio", "/bio/"),
            ("Links", "/links/"),
            ("Login", "/login/")
            ] %}
        <ul>
            {% for section, href in sections %}
            <li {% if active_tab == section %} class="current" {% endif %}><a href="{{ href }}">{{ section }}</a></li>
            {% endfor %}
        </ul>
    </nav>

    {% block content %}{% endblock %}

  </body>
</html>