{% extends "blogmainpage.html.j2" %}

{% set active_tab = "Blog" %}

{% block content %}

{# <link href="{{url_for('static', filename='css/blog_post_styles.css')}}" rel="stylesheet"> #}

{# <script defer src="{{ url_for('dart_static', file_name='blog_main_page.dart.js') }}"></script> #}

<script defer src="{{url_for('static', filename='build/main.js') }}"></script>

<div id="content-container">

    <div id="main-content">

        {% filter markdown %}

        {{md_string|safe}}

        {% endfilter %}
    
    </div>

</div>

{% endblock %}