{% extends "base_template.html.j2" %}

{% set active_tab = "Test" %}

{% block content %}

{% set content_height = 4000 %}

<script defer src="{{url_for('static', filename='build/main.js') }}"></script>
<script defer src="{{url_for('static', filename='build/shape.js') }}"></script>

<div id="main-content">
    <div id="content-container" style="height: {{ content_height }}px; margin-bottom: 2000px;">
        <div class="grid-x grid-padding-x" style="height: 100%;">
            <div id="shape-container-cell">
                <div id="shape-container" data-sticky-container data-dynamic-height="false">
                    <svg id="shape-sticky" class="sticky" data-sticky data-anchor="shape-container-cell" data-margin-top="3" viewbox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                        <defs>
                            <linearGradient id="shapeGradient" x1="100%" y1="0%" x2="0%" y2="100%" spreadMethod="pad">
                            {# <linearGradient id="shapeGradient" x1="100%" y1="0" x2="100%" y2="0%" spreadMethod="pad"> #}
                                {# <stop offset="5%" stop-color="#ffffff"/> #}
                                {# <stop offset="95%" stop-color="#ff7700" /> #}
                                {# <stop id="end_outer" offset="0%" stop-color="#ff7700"/>
                                <stop id="end_inner" idoffset="5%" stop-opacity="0"/>
                                <stop id="start_inner" offset="95%" stop-opacity="0"/>
                                <stop id="start_outer" offset="100%" stop-color="#ff7700"/> #}

                                <stop id="end-outer" offset="0%" stop-color="#ff7700"/>
                                <stop id="end-inner" offset="0%" stop-opacity="0"/>
                                <stop id="start-inner" offset="0%" stop-opacity="0"/>
                                <stop id="start-outer" offset="0%" stop-color="#ff7700"/>

                                {# <animate attributeName="x1", values="100%;100%;25%;0%" dur="10s"/>
                                <animate attributeName="x2", values="100%;75%;0%;0%" dur="10s"/>
                                <animate attributeName="y2", values="0%;25%;100%;100%" dur="10s"/>
                                <animate attributeName="y1", values="0%;0%;75%;100%" dur="10s"/> #}

                                {# <animate attributeName="x1", values="100%;100%;50%;0%" dur="10s"/>
                                <animate attributeName="x2", values="100%;50%;0%;0%" dur="10s"/>
                                <animate attributeName="y2", values="0%;50%;100%;100%" dur="10s"/>
                                <animate attributeName="y1", values="0%;0%;50%;100%" dur="10s"/> #}

                                {# <animate attributeName="x1", values="100%;100%;0%" dur="5s"/>
                                <animate attributeName="x2", values="100%;0%;0%" dur="5s"/>
                                <animate attributeName="y2", values="0%;100%;100%" dur="5s"/>
                                <animate attributeName="y1", values="0%;0%;100%" dur="5s"/> #}

                                {# <animate attributeName="x1", values="100%;100%;100%;0%" dur="10s" keyTimes="0;0.48;0.52;1" repeatCount="indefinite"/>
                                <animate attributeName="x2", values="100%;0%;0%;0%" dur="10s" keyTimes="0;0.48;0.52;1" repeatCount="indefinite"/>
                                <animate attributeName="y2", values="0%;100%;100%;100%" dur="10s" keyTimes="0;0.48;0.52;1" repeatCount="indefinite"/>
                                <animate attributeName="y1", values="0%;0%;0%;100%" dur="10s" keyTimes="0;0.48;0.52;1" repeatCount="indefinite"/> #}
                            </linearGradient>
                        </defs>
                        <g id="shape-path-group" transform="translate(300 300)">
                            {# <path id="shape-path" d="" stroke="#ff7700" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" fill="none"/> #}
                            {# <path d="" stroke="#b200e3" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" fill="#ffffff"/>
                            <path d="" stroke="#b200e3" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" fill="#ffffff"/>
                            <path d="" stroke="#b200e3" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" fill="#ffffff"/>
                            <path d="" stroke="#b200e3" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" fill="#ffffff"/>
                            <path d="" stroke="#b200e3" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" fill="#ffffff"/>
                            <path d="" id="shape-wireframe" stroke="#ff7700" stroke-opacity="1" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" fill="none"/> #}

                            {# <path id="original" d="" stroke="#b200e3" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" fill="#ffffff" shape-rendering="optimizeSpeed"/>
                            <use href="#original" x="100"/>
                            <use href="#original" x="-100"/>
                            <use href="#original" x="-150"/>
                            <use href="#original" x="150"/> #}
                            
                            <path d="" stroke="#b200e3" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" fill="#ffffff" shape-rendering="optimizeSpeed"/>
                            <path d="" stroke="#b200e3" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" fill="#ffffff" shape-rendering="optimizeSpeed"/>
                            <path d="" stroke="#b200e3" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" fill="#ffffff" shape-rendering="optimizeSpeed"/>
                            <path d="" stroke="#b200e3" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" fill="#ffffff" shape-rendering="optimizeSpeed"/>
                            <path d="" stroke="#b200e3" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" fill="#ffffff" shape-rendering="optimizeSpeed"/>
                            <path d="" id="shape-wireframe" stroke="url('#shapeGradient')" stroke-opacity="1" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" fill="none" shape-rendering="optimizeSpeed"/>

                        </g>
                    </svg>
                </div>
            </div>
            <div id="content" class="cell auto" style="height: 100%;">
                <div id="content-grid-y" class="grid-y grid-padding-y" style="height: 100%;">
                    <div class="main-content-cell">
                        <div class="main-content-callout">
                            <h2>About Me</h2>
                                <p>
                                {% filter markdown %}
Hi, my name is Cameron Churchwell, I'm a fourth year student in the McCormick School of Engineering at Northwestern
University studying computer science and math. I've been programming since fifth grade when I discovered the
[ComputerCraft](https://github.com/dan200/ComputerCraft) mod for Minecraft.
Now I'm doing research in the field of neural speech editing with a current focus on pronunciation and prosody.
In my free time I work on ridiculous and \(sometimes\) useful side projects, play trombone in the Northwestern University Marching Band,
play videogames, read, and learn to rollerblade.
                                {% endfilter %}
                                </p>
                        </div>
                    </div>
                    <div class="main-content-cell">
                        <div class="main-content-callout">
                            <h2>Research</h2>
                            <p>Placeholder</p>
                        </div>
                    </div>
                    <div class="main-content-cell">
                        <div class="main-content-callout">
                            <h2>Academic Achievements</h2>
                            <p>there is hopefully some content here</p>
                        </div>
                    </div>
                    <div class="main-content-cell">
                        <div class="main-content-callout">
                            <h2>Work Experiences</h2>
                            <p>there is hopefully some content here</p>
                        </div>
                    </div>
                    <div class="main-content-cell">
                        <div class="main-content-callout">
                            <h2>Extracurricular Activities</h2>
                            <p>there is hopefully some content here</p>
                        </div>
                    </div>
                    <div class="main-content-cell">
                        <div class="main-content-callout">
                            <h2>Statement of Purpose</h2>
                            <p>there is hopefully some content here</p>
                        </div>
                    </div>
                    <div class="main-content-cell">
                        <div class="main-content-callout">
                            <h2>Contact Info</h2>
                            <p>there is hopefully some content here</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}