{% extends "base_template.html.j2" %}

{% set active_tab = "Test" %}

{% block content %}

<script defer src="{{url_for('static', filename='build/main.js') }}"></script>
<script defer src="{{url_for('static', filename='build/shape.js') }}"></script>

<div id="main-content">
    <div id="content-container">
        <div class="grid-x grid-padding-x" style="height: 100%;">
            <div id="shape-container-cell">
                <div id="shape-container" data-sticky-container data-dynamic-height="false">
                    <svg id="shape-sticky" class="sticky" data-sticky data-anchor="shape-container-cell" data-margin-top="3" viewbox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                        <defs>
                            <linearGradient id="shapeGradient" x1="0%" y1="0%" x2="100%" y2="100%" spreadMethod="pad">
                                <stop id="end-outer" offset="0%" stop-color="#ff7700"/>
                                <stop id="end-inner" offset="0%" stop-opacity="0"/>
                                <stop id="start-inner" offset="0%" stop-opacity="0"/>
                                <stop id="start-outer" offset="0%" stop-color="#ff7700"/>
                            </linearGradient>
                        </defs>
                        <g id="shape-path-group" transform="translate(300 300)">
                            {# <path id="shape-path" d="" stroke="#ff7700" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" fill="none"/> #}
                            {# <path d="" stroke="#b200e3" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" fill="#ffffff"/>
                            <path d="" stroke="#b200e3" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" fill="#ffffff"/>
                            <path d="" stroke="#b200e3" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" fill="#ffffff"/>
                            <path d="" stroke="#b200e3" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" fill="#ffffff"/>
                            <path d="" stroke="#b200e3" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" fill="#ffffff"/>
                            <path d="" id="shape-wireframe" stroke="#ff7700" stroke-opacity="1" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" fill="none"/> #}

                            {# <path id="original" d="" stroke="#b200e3" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" fill="#ffffff" shape-rendering="optimizeSpeed"/>
                            <use href="#original" x="100"/>
                            <use href="#original" x="-100"/>
                            <use href="#original" x="-150"/>
                            <use href="#original" x="150"/> #}

                            <path d="" stroke="#b200e3" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" fill="#ffffff" shape-rendering="optimizeSpeed"/>
                            <path d="" stroke="#b200e3" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" fill="#ffffff" shape-rendering="optimizeSpeed"/>
                            <path d="" stroke="#b200e3" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" fill="#ffffff" shape-rendering="optimizeSpeed"/>
                            <path d="" stroke="#b200e3" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" fill="#ffffff" shape-rendering="optimizeSpeed"/>
                            <path d="" stroke="#b200e3" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" fill="#ffffff" shape-rendering="optimizeSpeed"/>
                            <path d="" id="shape-wireframe" stroke="url('#shapeGradient')" stroke-opacity="1" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" fill="none" shape-rendering="optimizeSpeed"/>

                        </g>
                    </svg>
                </div>
            </div>
            <div id="content" class="cell auto" style="height: 100%;">
                <div id="content-grid-y" class="grid-y grid-padding-y" style="height: 100%;">
                    <div class="main-content-cell">
                        <div class="main-content-callout">
                            <h2><b>About Me</b></h2>
                            {% filter markdown %}
Hi, I'm Cameron Churchwell, a second year PhD student at the University of Illinois at Urbana Champaign working with Paris Smaragdis and Minje Kim!

I've been programming since fifth grade when I discovered the [ComputerCraft](https://github.com/dan200/ComputerCraft) mod for Minecraft.

Now I'm doing research in machine learning for audio applications, with a current focus on learned DSP filters and neural audio codecs.

In my free time I work on ridiculous and \(sometimes\) useful side projects, play trombone (currently looking for groups), read LitRPG/Fantasy books,
and play games with my friends.

If you're on desktop, you should see a fun optical illusion I've animated as you scroll down this page!
                            {% endfilter %}
                        </div>
                    </div>
                    <div class="main-content-cell">
                        <div class="main-content-callout">
                            <h2><b>Research</b></h2>
                            {% filter markdown %}
My primary research interest is improving the compute efficiency of audio machine learning via DSP-inspired techniques. This includes my recent WASPAA publication on learned comb filters
as a replacement for time-frequency transforms and other audio model frontends. I'm also interested in low level optimizations such as novel GPU kernels and more efficient data processing and pipelines.

My prior work also includes a focus on neural speech editing and pronunciation encoding, and I hope to one day develop tools to help people with speech disorders.
                            {% endfilter %}
                        </div>
                    </div>
                    <div class="main-content-cell">
                        <div class="main-content-callout">
                            <h2><b>Publications</b></h2>
                            {% filter markdown %}
\* indicates equal contributions

- **Cameron Churchwell**, Minje Kim, and Paris Smaragdis. "Combolutional Neural Networks," WASPAA, October 2025. [[Paper]](https://arxiv.org/abs/2507.21202) [[GitHub]](https://github.com/CameronChurchwell/combnet)
- **Cameron Churchwell\***, Max Morrison\*, and Bryan Pardo, "High-Fidelity Neural Phonetic Posteriorgrams," ICASSP 2024 Workshop on Explainable Machine Learning for Speech and Audio, April 2024. [[Paper]](https://arxiv.org/abs/2402.17735) [[GitHub]](https://github.com/interactiveaudiolab/ppgs)
- Max Morrison, **Cameron Churchwell**, Nathan Pruyne, and Bryan Pardo, "Fine-Grained and Interpretable Neural Speech Editing," Interspeech, September 2024. [[Paper]](https://arxiv.org/abs/2407.05471) [[GitHub]](https://github.com/maxrmorrison/promonet)
                            {% endfilter %}
                        </div>
                    </div>
                    <div class="main-content-cell">
                        <div class="main-content-callout">
                            <h2><b>Talks</b></h2>
                            {% filter markdown %}
- Combolutional Neural Networks Spotlight Talk (top 10% of accepted papers) (WASPAA 2025) [[Slides]](https://www.cameronchurchwell.com/presentations/CombSlides.html)
                            {% endfilter %}
                        </div>
                    </div>
                    <div class="main-content-cell">
                        <div class="main-content-callout">
                            <h2><b>Work/Teaching Experiences</b></h2>
                            {% filter markdown %}
- Internships
    - Audio Machine Learning Research Intern, Bose (Summer 2025)
- Teaching
    - Teaching Assistant, CS449 Deep Learning (Winter 2023)
    - Teaching Assistant, CS449 Deep Learning (Spring 2023)
    - Teaching Assistant, CS449 Deep Learning (Fall 2023)
    - Teaching Assistant, CS449 Deep Learning (Spring 2024)
- Music
    - Stipend Band (2022-2023)
                            {% endfilter %}
                        </div>
                    </div>
                    <div class="main-content-cell">
                        <div class="main-content-callout">
                            <h2><b>Honors</b></h2>
                            {% filter markdown %}
- 2023 Northwestern University Computer Science Summer Undergraduate Research Fellowship ($6,500)
- 2023 Outstanding Peer Mentor for Deep Learning course ($300)
- 2024 Graduated Magna Cum Laude from Northwestern University
                            {% endfilter %}
                        </div>
                    </div>
                    <div class="main-content-cell">
                        <div class="main-content-callout">
                            <h2><b>Contact Info</b></h2>
                            {% filter markdown %}
- [cc178@illinois.edu](mailto:cc178@illinois.edu)
- [CV](https://www.cameronchurchwell.com/assets/cv.pdf)
- [LinkedIn](https://www.linkedin.com/in/cameron-churchwell-5b25201b5/)
- [GitHub](https://github.com/CameronChurchwell)
                            {% endfilter %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}