{% extends "base_template.html.j2" %}

{% set active_tab = "Home" %}

{% block content %}

<!-- <link href="{{url_for('static', filename='css/home_styles.css')}}" rel="stylesheet"> -->

<div id="main-content">
    <div id="content-container">
        <div id="image-container">
            <!-- <img src="/home.jpeg" alt="home-image" id="home-image"> -->
        </div>
{% filter markdown %}
# Hello!

There's not much to see here on the homepage at the moment. Right now I'm working on adding a really cool animation of my own design, but it's taking a bit of time.
{% endfilter %}
    </div>
</div>


{% endblock %}