{% extends "base_template.html.j2" %}

{% set active_tab = "Test" %}

{% block content %}

{% set content_height = 4000 %}

<script defer src="{{url_for('static', filename='build/main.js') }}"></script>

<div id="main-content">
    <div id="content-container" style="height: {{ content_height }}px; margin-bottom: 2000px;">
        <div class="grid-x grid-padding-x" style="height: 100%;">
            <div id="shape-container-cell">
                <div id="shape-container" data-sticky-container data-dynamic-height="false">
                    <canvas id="shape-canvas" class="sticky" data-sticky data-anchor="shape-container-cell" data-margin-top="3" width="1000" height="1000" style="width: 100%;">Failed to create canvas</canvas>
                </div>
            </div>
            <div id="content" class="cell auto" style="height: 100%;">
                <div id="content-grid-y" class="grid-y grid-padding-y" style="height: 100%;">
                    <div class="main-content-cell">
                        <div class="main-content-callout">
                            <h2>First content callout</h2>
                            <p>there is hopefully some content here</p>
                        </div>
                    </div>
                    <div class="main-content-cell">
                        <div class="main-content-callout">
                            <h2>Second content callout</h2>
                            <p>there is hopefully some content here</p>
                        </div>
                    </div>
                    <div class="main-content-cell">
                        <div class="main-content-callout">
                            <h2>Third content callout</h2>
                            <p>there is hopefully some content here</p>
                        </div>
                    </div>
                    <div class="main-content-cell">
                        <div class="main-content-callout">
                            <h2>Fourth content callout</h2>
                            <p>there is hopefully some content here</p>
                        </div>
                    </div>
                    <div class="main-content-cell">
                        <div class="main-content-callout">
                            <h2>Fifth content callout</h2>
                            <p>there is hopefully some content here</p>
                        </div>
                    </div>
                    <div class="main-content-cell">
                        <div class="main-content-callout">
                            <h2>Sixth content callout</h2>
                            <p>there is hopefully some content here</p>
                        </div>
                    </div>
                    <div class="main-content-cell">
                        <div class="main-content-callout">
                            <h2>Seventh content callout</h2>
                            <p>there is hopefully some content here</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}